! Title: Thai Adblock List
! Version: {{version}}
! Last modified: {{ timestamp }}
! Expires: 1 days
! Homepage: https://adblock-thai.github.io/
! License: https://github.com/adblock-thai/thai-ads-filter/blob/master/LICENSE
!-----------------------High Order filters-----------------------!
{% for item in high_order_filters %}
{{item}}
{% endfor %}
!-----------------------General advert blocking filters-----------------------!
{% for item in general_adverts %}
{{item}}
{% endfor %}
!-----------------------Catagorize blocking filters-----------------------!
{% for item in catagorizes %}
{{item}}
{% endfor %}
!-----------------------Whitelists to fix broken sites------------------------!
{% for item in whitelists %}
{{item}}
{% endfor %}
