! Title: Thai Adblock List
! Description: Thai ads filters
! Version: {{version}}
! Last modified: {{ timestamp }}
! Expires: 2 days
! Homepage: https://adblock-thai.github.io/
! License: https://github.com/adblock-thai/thai-ads-filter/blob/master/LICENSE
! Reporting Issues: https://github.com/adblock-thai/thai-ads-filter/issues
! Reporting Issues: https://line.me/ti/g2/AAUOP0DACB
! Download: https://adblock-thai.github.io/thai-ads-filter/subscription.txt
!
!-------------- General filters --------------
!-------------- adservers --------------
{% include 'filters/general/adservers_block.txt' %}
!-------------- thirdparty --------------
{% include 'filters/general/thirdparty_block.txt' %}
!-------------- popup --------------
{% include 'filters/general/popup_block.txt' %}
{% include 'filters/general/popup_hide.txt' %}
!-------------- general_hide --------------
{% include 'filters/general/general_hide.txt' %}
!-------------- track --------------
{% include 'filters/general/track_block.txt' %}
!-------------- Category filters -------------
!-------------- adult --------------
{% include 'filters/category/adult_block.txt' %}
{% include 'filters/category/adult_hide.txt' %}
!-------------- anime --------------
{% include 'filters/category/anime_block.txt' %}
{% include 'filters/category/anime_hide.txt' %}
!-------------- bittorent --------------
{% include 'filters/category/bittorent_block.txt' %}
{% include 'filters/category/bittorent_hide.txt' %}
!-------------- common --------------
{% include 'filters/category/common_block.txt' %}
{% include 'filters/category/common_hide.txt' %}
!-------------- game --------------
{% include 'filters/category/game_block.txt' %}
{% include 'filters/category/game_hide.txt' %}
!-------------- movies --------------
{% include 'filters/category/movies_block.txt' %}
{% include 'filters/category/movies_hide.txt' %}
!-------------- news --------------
{% include 'filters/category/news_block.txt' %}
{% include 'filters/category/news_hide.txt' %}
!-------------- shop --------------
{% include 'filters/category/shop_block.txt' %}
{% include 'filters/category/shop_hide.txt' %}
!-------------- sport --------------
{% include 'filters/category/sport_block.txt' %}
{% include 'filters/category/sport_hide.txt' %}
!-------------- tech --------------
{% include 'filters/category/tech_block.txt' %}
{% include 'filters/category/tech_hide.txt' %}
!-------------- Whitelist --------------------
{% include 'filters/whitelist/whitelist_block.txt' %}
{% include 'filters/whitelist/whitelist_hide.txt' %}
