! Title: Thai Adblock List
! Description: Thai ads filters
! Version: {{version}}
! Last modified: {{ timestamp }}
! Expires: 2 days
! Homepage: https://adblock-thai.github.io/
! License: https://github.com/adblock-thai/thai-ads-filter/blob/master/LICENSE
! Reporting Issues: https://github.com/adblock-thai/thai-ads-filter/issues
! Reporting Issues: https://line.me/ti/g2/AAUOP0DACB
! Download: https://adblock-thai.github.io/thai-ads-filter/subscription.txt
!
!-------------- General filters --------------
!-------------- adservers --------------
{% include 'filters/general/adservers.txt' %}
!-------------- general_block_popup --------------
{% include 'filters/general/general_block_popup.txt' %}
!-------------- general_hide --------------
{% include 'filters/general/general_hide.txt' %}
!-------------- thirdparty_popup --------------
{% include 'filters/general/thirdparty_popup.txt' %}
!-------------- thirdparty --------------
{% include 'filters/general/thirdparty.txt' %}
!-------------- track --------------
{% include 'filters/general/track.txt' %}
!-------------- Category filters -------------
!-------------- adult --------------
{% include 'filters/category/adult.txt' %}
!-------------- anime --------------
{% include 'filters/category/anime.txt' %}
!-------------- bittorent --------------
{% include 'filters/category/bittorent.txt' %}
!-------------- common --------------
{% include 'filters/category/common.txt' %}
!-------------- game --------------
{% include 'filters/category/game.txt' %}
!-------------- movies --------------
{% include 'filters/category/movies.txt' %}
!-------------- news --------------
{% include 'filters/category/news.txt' %}
!-------------- shop --------------
{% include 'filters/category/shop.txt' %}
!-------------- sport --------------
{% include 'filters/category/sport.txt' %}
!-------------- tech --------------
{% include 'filters/category/tech.txt' %}
!-------------- Whitelist --------------------
{% include 'filters/whitelist/whitelist.txt' %}
