! Title: Thai Adblock Annoyances
! Description: Blocks irritating elements on web pages including cookie notices, third-party widgets and in-page pop-ups.
! Version: {{version}}
! Last modified: {{ timestamp }}
! Expires: 2 days
! Homepage: https://adblock-thai.github.io/
! License: https://github.com/adblock-thai/thai-ads-filter/blob/master/LICENSE
! Reporting Issues: https://github.com/adblock-thai/thai-ads-filter/issues
! Reporting Issues: https://line.me/ti/g2/AAUOP0DACB
! Download: https://adblock-thai.github.io/thai-ads-filter/subscription.txt
!
!-------------- annoyance_filters --------------
!-------------- general_block --------------
{% include 'annoyance_filters/general_block.txt' %}
!-------------- general_hide --------------
{% include 'annoyance_filters/general_hide.txt' %}
!-------------- specific_block --------------
{% include 'annoyance_filters/specific_block.txt' %}
!-------------- specific_hide --------------
{% include 'annoyance_filters/specific_hide.txt' %}
!-------------- thirdparty --------------
{% include 'annoyance_filters/thirdparty.txt' %}
!-------------- whitelist --------------
{% include 'annoyance_filters/whitelist.txt' %}
