! Title: Thai Annoyance Filter
! Description: Blocks irritating elements on web pages including cookie notices, third-party widgets and in-page pop-ups.
! Version: {{version}}
! Last modified: {{ timestamp }}
! Expires: 3 days
! Homepage: https://adblock-thai.github.io/
! License: https://github.com/adblock-thai/thai-ads-filter/blob/master/LICENSE
! Reporting Issues: https://github.com/adblock-thai/thai-ads-filter/issues
! Community: https://spectrum.chat/adblock-thailand
! Download: https://adblock-thai.github.io/thai-ads-filter/annoyance.txt
!
!-------------- annoyance_filters --------------
{% for file_name in file_list %}
!----- {{file_name}} -----
{% include file_name %}
{% endfor %}
